@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle{
    inherits:false;
    initial-value: 0deg;
    syntax:"<angle>";
}

.input {
  @apply w-full bg-slate-800/50 border border-slate-700 rounded-lg py-2 pl-10 pr-4 text-slate-200 placeholder-slate-400 focus:ring-2 focus:ring-cyan-500 focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 size-5;
}


.auth-input-label{
    @apply block text-sm font-medium text-slate-300 mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-cyan-500/20 text-cyan-300;
}

/* auth.css ya global css */
.auth-btn {
  @apply w-full
    bg-[#0a0d13]
    text-slate-300
    py-2.5
    rounded-md
    text-sm
    font-medium
    border border-white/5
    hover:bg-[#0e121a]
    hover:text-slate-200
    hover:border-white/10
    focus:outline-none
    focus:ring-1 focus:ring-slate-500/20
    disabled:opacity-60
    disabled:cursor-not-allowed
    transition;
}


.auth-link {
  @apply text-xs
    text-slate-500
    hover:text-slate-300
    transition;
}
